# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
election-platform-backend/node_modules
election-platform-frontend/node_modules
election-platform-frontend/.pnp
election-platform-frontend/.pnp.js

# testing
election-platform-frontend/coverage

# production
election-platform-frontend/build

# misc
election-platform-frontend/.DS_Store
election-platform-frontend/.env.local
election-platform-frontend/.env.development.local
election-platform-frontend/.env.test.local
election-platform-frontend/.env.production.local

election-platform-frontend/npm-debug.log*
election-platform-frontend/yarn-debug.log*
election-platform-frontend/yarn-error.log*

.env
election-platform-backend/.env

election-platform-frontend/package-lock.json
election-platform-backend/package-lock.json
