@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --light: grey;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
      --padding-large: 1.5rem;
      --padding-xlarge: 2rem;
    
      --margin-small: 0.5rem;
      --margin-medium: 1rem;
      --margin-large: 1.5rem;
      --margin-xlarge: 2rem;
    
      --gap-small: 0.5rem;
      --gap-medium: 1rem;
      --gap-large: 1.5rem;
      --gap-xlarge: 2rem;
    
      --border-radius-small: 0.5em;
      --border-radius-medium: 1em;
      --border-radius-large: 1.5em;
      --border-radius-xlarge: 2em;
  }
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
  
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
  
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
  
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
  
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
  
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: hsl(var(--primary));
  line-height: 2.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.footer {
  padding: var(--padding-large);
  text-align: center;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(var(--primary));
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

#App {
  min-height: calc(100vh - 8rem);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}